<h1>Listing wines</h1>

<% if @wines.present? %>
<ul class="wines">
  <% @wines.each do |wine| %>
  <li>
    <article>
      <a href="<%= wine_path wine %>">
        <h1><%= wine.title %></h1>
        <img src="images/wines/<%= wine.upc %>.jpg" alt="">

        <p class="price">£<%= format "%.2f", wine.price %></p>
        <p><%= wine.size %> ml</p>
        <p class="supplier">Supplied by <i><%= wine.supplier.name %></i></p>
      </a>
    </article>
  </li>
  <% end %>
</ul>
<% elsif params[:search] %>
  <p>There are no wines that match your search.</p>
<% else %>
  <p>There are no wines available at the moment. Please check back later.</p>
<% end %>
